# IntelliJ IDEA 配置
.idea/
*.iws
*.iml
*.ipr

# Eclipse 配置
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans 配置
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code 配置
.vscode/


# 编译输出
target/
build/
dist/

# Maven 相关
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Node 相关
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# 系统文件
.DS_Store
Thumbs.db

# 其他
*.log
*.tmp
*.temp 